
/*
** story_article
*/
.story_article {
    position: relative;
    width: 100%;
    height: 100%;
    padding: rem-calc(40) rem-calc(20);
    text-align: center;

    &--title {
        position: absolute;
        width: 100%;
        @include fts(16,26);
        color: rgba($white, 0.8);
        text-align: center;
        font-family: $font-roboto;
        font-weight: bold;

        @include medium {
            padding: 0 rem-calc(40);
            bottom: rem-calc(40);
            @include fts(20,30);
        };
    }

    &--link {
        display: inline-block;
        background-color: $green_01;
        padding: rem-calc(14) rem-calc(24);
        text-transform: uppercase;
        color: $white;
        font-family: $font-roboto;
        letter-spacing: 0.3em;
        @include fts(16,16);
        @include setTransition;

        &:hover, &:active, &:focus {
            background-color: darken($green_01,10);
            color: $white;
            @include setTransition;
        }

        &--holder {
            position: absolute;
            bottom: rem-calc(40);
            left: 0;
            width: 100%;
        }
    }
}




/*
** partner_card
*/
.partner_card {
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: $white;
    text-align: center;

    &--title {
        position: absolute;
        bottom: -100%;
        width: 100%;
        height: 100%;
        @include fts(12,22);
        color: $white;
        background-color: rgba($black,0.5);
        @include setTransition;

        @include medium {
            @include fts(14,24);
        };
    }

    &:hover &--title, &:active &--title {
        bottom: 0;
        @include setTransition;
    }

    &--image {
        display: block;
        overflow: hidden;
        width: 100%;
        margin: 0;
    }

    &--list,
    &--section {
        &.columns {
            margin-left: -0.5rem;
            margin-right: -0.5rem;
            margin-top: -0.5rem;
            margin-bottom: -0.5rem;
        }
        & .column {
            padding: 0.5rem;
        }
    }
}


.issue_article {
    position: relative;
    cursor: pointer;

    &--figure {
        position: relative;
        overflow: hidden;
        padding: rem-calc(10);
    }

    &--image {
        display: block;
        width: 100%;
        @include boxShadowImage;
        margin-bottom: rem-calc(15);
    }

    &--title {
        position: relative;
        @include fts(14,14);
        color: $white;
        font-family: $font-default;
        font-weight: 600;

        @include xmedium {
            @include fts(16,16);
        }

        & strong {
            display: inline-block;
            position: relative;
            top: rem-calc(-2);
            @include fts(10,16);
            font-weight: 600;
            text-align: center;
            margin-right: rem-calc(14);
            margin-left: rem-calc(10);

            &:before {
                position: absolute;
                display: block;
                content: '';
                top: calc(50% - 14px);
                left: rem-calc(-6);
                width: rem-calc(28);
                height: rem-calc(28);
                border-radius: 50%;
                border: 1px solid $white;
            }
        }
    }

    &--download {
        position: absolute;
        height: calc(100% - 35px);
        width: calc(100% - 20px);
        background-color: rgba($black,0.6);
        left: rem-calc(10);
        top: rem-calc(10);
        opacity: 0;
        @include setTransition;

        & .icon {
            fill: $white;
            width: rem-calc(40);
            height: rem-calc(40);
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
        }
    }

    &:hover &--download, &:active &--download {
        opacity: 1;
        @include setTransition;
    }
}
