.sns_block {
    display: none;
    position: absolute;
    //new
    top: rem-calc(10);
    right: rem-calc(10);
    //old
    // bottom: rem-calc(40);

    width: 100%;
    opacity: 0;
    animation: 3s ease forwards 4.4s fade_in_intro;

    @include medium {
        right: rem-calc(10);
        display: block;
    };

    @include large {
        right: rem-calc(40);
    };

    //new
    & .is-right { justify-content: flex-end; }
    //old
    // & .is-right { justify-content: center; }

    &--link {
        display: inline-block;
        background-color: $red_01;
        padding: rem-calc(10);
        margin: 0 rem-calc(2);
        line-height: 0;
        @include setTransition;

        & .icon {
            fill: $white;
            width: rem-calc(20);
            height: rem-calc(20);
        }

        &:hover, &:active, &:focus {
            background-color: darken($red_01, 10);
            @include setTransition;
        }
    }
}

.sns_footer_block {
    margin-bottom: rem-calc(40);

    & .is-center { justify-content: center; }
}


.last_issue {
    font-family: $font-default;
    &--title {
        @include fts(22,26);
        font-weight: bold;
        margin-bottom: rem-calc(40);
    }

    &--main {
        position: relative;
        padding-left: rem-calc(40);
        padding-right: rem-calc(40);

        @include medium {
            padding-left: rem-calc(60);
            padding-right: rem-calc(60);
        }
    }

    &--content {
        @include fts(16,22);

        & ul {
            & li {
                position: relative;
                padding-left: rem-calc(16);
                margin-bottom: rem-calc(20);

                &:before {
                    position: absolute;
                    content: '';
                    top: rem-calc(10);
                    left: 0;
                    width: rem-calc(6);
                    height: rem-calc(6);
                    border-radius: 50%;
                    background-color: $green_01;
                }
            }
        }
    }
}
