/*
** button_menu
*/
.button_menu {
    cursor: pointer;
    background-color: transparent;
    border: none;

    &--holder {
        position: absolute;
        z-index: 2200;
        top: rem-calc(10);
        right: rem-calc(10);


        @include large {
            display: none;
        }
    }

    & .icon {
        width: rem-calc(30);
        height: rem-calc(30);
        fill: $black;

        &-close-button {
            display: none;
        }
    }

    &.is-active .icon {
        &-open-button {
            display: none;
        }
        &-close-button {
            display: block;
        }
    }
}

.button {
    display: inline-block;
    position: relative;
    padding: rem-calc(10) rem-calc(10) rem-calc(10) rem-calc(40);
    color: $black;
    border: 1px solid $black;
    border-radius: 0;
    @include setTransition;
    @include fts(16,16);
    cursor: pointer;
    font-family: $font-roboto;
    background-color: $white;

    & .icon {
        position: absolute;
        top: calc(50% - 10px);
        left: rem-calc(10);
        width: rem-calc(20);
        height: rem-calc(20);
        fill: $black;
        @include setTransition;
    }

    &:hover, &:active {
        color: $green_01;
        border-color: $green_01;
        & .icon {
            fill: $green_01;
            @include setTransition;
        }
    }
}

.button_subscribe {
    @extend .button;
    margin-top: rem-calc(20);

    @include xmedium {
        margin-top: 0;
    }

    &.large {
        padding: rem-calc(16) rem-calc(16) rem-calc(16) rem-calc(50);
        @include fts(18,18);
        text-transform: uppercase;

        & .icon {
            top: calc(50% - 12px);
            left: rem-calc(12);
            width: rem-calc(24);
            height: rem-calc(24);
        }
    }
}

.button_download {
    @extend .button;
    padding: rem-calc(14) rem-calc(14) rem-calc(14) rem-calc(50);
    @include fts(18,18);
    font-weight: 500;

    &--holder {
        width: 100%;
        text-align: center;
        margin-top: rem-calc(100);
    }
}

.button_alt {
    @extend .button;
    padding: rem-calc(14) rem-calc(14) rem-calc(14) rem-calc(50);
    border: 1px solid $white;
    color: $white;
    background-color: transparent;
    @include fts(18,18);
    font-weight: 500;

    & .icon { fill: $white; }

    &:hover, &:active {
        color: $black;
        border-color: $black;
        & .icon { fill: $black; }
    }

    &--holder {
        width: 100%;
        text-align: center;
        margin-top: rem-calc(60);
    }
}

.button_next {
    position: absolute;
    display: inline-block;
    width: rem-calc(50);
    height: rem-calc(50);
    bottom: rem-calc(60);
    left: calc(50% - 25px);
    @include setTransition;


    & .icon {
        width: rem-calc(40);
        height: rem-calc(40);
        fill: $black;
        transform: rotate(90deg);
        @include setTransition;
    }

    &:hover, &:active {
        & .icon {
            fill: darken($black,10);
            margin-top: rem-calc(5);
            @include setTransition;
        }
    }
}


.button_contact {
    @extend .button;
    border-color: $green_01;
    color: $green_01;
    background-color: transparent;

    & .icon {
        fill: $green_01;
    }

    &:hover, &:active, &:focus {
        border-color: darken($green_01,20);
        color: darken($green_01,20);
        background-color: transparent;
        & .icon {
            fill: darken($green_01,20);
        }
    }

    &--holder {
        width: 100%;
        text-align: center;
        margin-top: rem-calc(60);
    }
}

// form submit
.button_submit {
    position: relative;
    padding: 1rem 4rem 1rem 1rem;
    background-color: transparent;
    color: $black;
    @include fts(20,20);
    text-transform: uppercase;
    border: 1px solid $black;
    cursor: pointer;
    @include setTransition;

    & .icon {
        fill: $black;
        position: absolute;
        top: calc(50% - 15px);
        right: 1rem;
        display: inline-block;
        width: rem-calc(30);
        height: rem-calc(30);
        @include setTransition;
    }

    &:focus {
        background-color: transparent;
        color: $black;
    }

    &:hover, &:active {
        background-color: transparent;
        color: $black;
        border-color: $black;
        @include setTransition;

        & .icon {
            fill: $black;
            @include setTransition;
        }
    }

    &--holder {
        margin-top: rem-calc(50);
        text-align: center;
    }
}
