/*
** Footer
*/
.footer {
    padding-top: rem-calc(30);
    padding-bottom: rem-calc(40);
    //border-top: 1px solid $grey_01;

    &--holder {
        margin-left: 0;
        margin-right: 0;
    }

    @include medium {
        padding-top: rem-calc(80);
        padding-bottom: rem-calc(60);
    }

    &--credits {
        margin-top: rem-calc(20);
        @include fts(12,16);
        font-weight: 400;
        color: $gray_03;
        text-align: center;

        @include medium {
            @include fts(16,20);
        }
    }

    &--logo {
        display: inline-block;
        width: auto;
        height: rem-calc(100);
        margin-bottom: rem-calc(40);

        &--holder {
            text-align: center;
        }
    }
}
