.logo {
    width: rem-calc(160);
    height: rem-calc(46);

    @include large {
        width: rem-calc(230);
        height: rem-calc(80);
    }
}

.navigation {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: $white;
    width: 100%;
    min-height: rem-calc(50);
    border-bottom: 1px solid $green_01;

    &.is-active {
        padding-bottom: rem-calc(20);
    }

    @include medium {
        position: fixed;
        padding-top: 0;
        min-height: 0;
        border-bottom: none;

        &.is-active {
            padding-bottom: 0;
        }
    }

    & .logo {
        display: inline-block;
        //width: rem-calc();
        width: auto;
        height: rem-calc(50);
    }

    & .order-1 { order: 1; }
    & .order-2 { order: 2; }
    & .order-3 { order: 3; }

    & .medium-order-1 {
        @include xmedium {
            order: 1;
        }
    }
    & .medium-order-2 {
        @include xmedium {
            order: 2;
        }
    }
    & .medium-order-3 {
        @include xmedium {
            order: 3;
        }
    }
}

.nav {
    padding-top: 0;
    padding-bottom: 2px;

    &--holder {
        align-items: center;

        & .column {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    & .menu {
        text-align: center;
        display: none;
        padding-bottom: 0;
        align-items: center;

        &.is-active { display: block; }

        @include medium {
            display: flex;
            padding-bottom: 0;
            &.is-active { display: flex; }
        }

        & > li {
            &.column.is-narrow {
                flex-grow: 0;
            }

            & > a {
                position: relative;
                display: inline-block;
                color: $black;
                @include fts(13,13);
                text-transform: uppercase;
                margin: 0;
                padding: rem-calc(10);
                font-family: $font-roboto;
                font-weight: 300;
                letter-spacing: 0.2em;


                @include medium {
                    @include fts(15,25);
                };

                &:after {
                    position: absolute;
                    content: '';
                    display: block;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background-color: $black;
                    @include setTransition;
                }

                &:hover, &:active {
                    &:after {
                        width: 100%;
                        @include setTransition;
                    }
                }
            }
            & > .lang-switch {
                @include fts(12,12);
                @include setTransition;
                color: $black;
                margin-top: rem-calc(10);
                padding-top: rem-calc(20);
                margin-bottom: rem-calc(20);
                border: none;
                border-top: 1px solid $grey_03;
                cursor: pointer;

                @include xmedium {
                    border-top: none;
                    padding-top: rem-calc(10);
                    border-left: 1px solid $grey_03;
                };

                &:hover, &:active {
                    color: $grey_02;
                    @include setTransition;
                }

                &:after {
                    display: none;
                }
            }
        }
    }

    &--icon {
        display: block;
        width: rem-calc(30);
        height: rem-calc(30);
        fill: $white;
        @include setTransition;

        &:hover, &:active {
            fill: darken($white, 15);
            @include setTransition;
        }
    }
}
