.wrapper {
  position: relative;
    padding-top: rem-calc(54);
    background-color: $white;

    @include medium {
        padding-top: rem-calc(54);
    }
}

.container {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);

    @include xsmall {
        padding-left: rem-calc(20);
        padding-right: rem-calc(20);
    }
    @include medium {
        padding-left: rem-calc(40);
        padding-right: rem-calc(40);
    }
}


.main {

    &--inner {
        padding-top: rem-calc(100);
        padding-bottom: rem-calc(80);
        border-bottom: 1px solid $black;
    }

    &--title {
        @include fts(20,20);
        font-weight: 400;
        margin-bottom: rem-calc(60);
        font-family: $font-roboto;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.8em;

        & strong {
            display: inline-block;
            font-weight: 400;
            padding: 0;
            padding-bottom: rem-calc(10);
            padding-left: rem-calc(18);
            border-bottom: 1px solid $main_text;
        }

        @include xmedium {
            @include fts(24,24);
            margin-bottom: rem-calc(100);
        }
    }
}
